<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <!--<link rel="stylesheet" href="../static/styles.css">-->
</head>
<body>
<header th:fragment="header">
    <nav>
        <a href="/index">Aktualności</a>
        <a href="/login">Logowanie</a>
        <a href="/registration">Rejestracja</a>
    </nav>
</header>
</body>
</html>