body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    background-color: azure;
}

header {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
}

nav{
    background-color: aquamarine;
    text-align: center;
}

main {
    order: 1;
    flex: 1 1 auto;
    align-self: stretch;
    border: thick black;
}

footer {
    order: 2;
    flex: 0 1 auto;
    align-self: stretch;
    border: thick black;
    background-color: aquamarine;
    text-align: center;
}

h1{
    color: blue;
}

