<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OppHelp</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="fragments/header :: header"/>
<main>
    <aritcle>
        <h1>NAGŁÓWEK</h1>
        <p>Tu będzie miejsce na aktualności</p>
        <p>Aktualność pierwsza i druga i trzecia</p>
    </aritcle>
</main>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>